.page-layout-search #miniSearch { position: relative; width: 100%; left: 0; height: 120px; top: 0; margin-bottom: 20px; }

.sidebar-fav-admin, .sidebar-fav-info, .sidebar-fav-history, .sidebar-fav-lists {
  margin: 16px 0px 0px 0px;
}

.sidebar-fav-info {
  background-color:lightgray;
  color: gray;
}

.sidebar-fav-admin {
  background-color: #655e5e;
}

.sidebar-fav-admin a{
  color: white;
  padding: 0px 0px 4px 0px;
  background-color: transparent;
  border: none;
}

.sidebar-fav-history a, 
.sidebar-fav-admin a, 
.sidebar-link a{
  color: white;
  font-weight: bold;
}

.sidebar-link {
  color: white;
  padding: 15px;
  margin: 8px -15px 8px -15px;
  background-color: #28afe1;
  border: none;
}

.sidebar-results {
  background-color:transparent;
}

.sidebar-recommendations {
  background-color: gray;
  margin: 8px -15px 8px -15px;
  padding: 15px;
}

.sidebar-note {
  margin: 8px -15px 8px -15px;
}

.sidebar-link a {
  color:white;
}

.search-results-listing {
    min-height: 750px;
}

.test {
  float: right;
}

.bulk-link {
  color: white;
  background-color:transparent;
  border:none;
  cursor: pointer;
  font-size: 85%;
  
}

.fav-list-actions {
  padding-top: 30px;
  text-align: right;
}

body.modal-open {
    overflow: visible;
    padding-right: 0!important;
}

.favActionDel {
  width: 16px;
  display:inline-block;
}

.fa-placeholder {
  width: 16px;
}
